.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  width: 100%;

  .row {
    display: flex;
    gap: 8px;
  }

  .block {
    margin-top: 8px;
  }

  .text {
    font-size: 14px;
  }

  .error {
    font-weight: 700;
    color: #ff0000;
  }
}
