@import "../../node_modules/normalize.css/";

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Roboto", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
